<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title style="color: white">로그인</title>
    <style>
        body {
            background-image: url("../img/coffee.jpg");
            background-size: cover;
        }
        div {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 100vh; /* 화면의 세로 크기의 100% */
        }
        button {
            width: 100px;
            height: 30px;
        }
        input {
            width: 200px;
            height: 30px;
        }
    </style>
</head>
<body>
    <div>
        <form action="/userLogin" method="post">
            <label style="color: white">USERNAME:</label><br>
            <input type="text" name="username"><br>
            <label style="color: white">PASSWORD</label><br>
            <input type="password" name="password"><br><br>
            <button type="submit">로그인</button>
        </form>
    </div>
</body>
</html>