#myPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#myPage h1 {
    margin-bottom: 20px;
}

#myPage p {
    font-size: 16px;
    margin-bottom: 10px;
}

#myPage button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#myPage button:hover {
    background-color: #0056b3;
}
